/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color:dimgray;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  margin-left: 30px;
  margin-right: 30px;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#tit {
  text-align:center;
  color:darkslateblue;
} 

.tablinks {
  font-size: medium;
  color: white;
}

.button {
  background-color: pink;
  border: none;
  color: white;
  padding: 15px 32px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin:4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;

}

.button:hover{
  box-shadow: 0 5px 8px 0 rgba(26, 25, 25, 0.24), 0 6px 10px 0 rgba(0,0,0,0.19);
}

#Client {
  font-size: medium;
  text-align: center;
}

#Products {
  text-align: center;
}

#Cart {
  text-align: center;
}

#displayProduct{
  margin-left: 33%;
  margin-right: 40%;
  text-align: left;
}

#displayCart{
  margin-left: 47%;
  margin-right: 40%;
  text-align: left;
}


#sig{
  text-align: right;
  color: red;
  font-size: small;
  font-style: italic;
  position:inherit;
  right:10px;
  bottom:10px;
  height:100px;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: pink;
  background-color:rgba(255,192,203,0.5);
  overflow-x: hidden;
  transition: 0.5s;
}

img {
  margin-left: 60px;
}

#productDetails {
  margin-left: 30%;
}



span {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 35px;
}

form {
  margin-left: 43%;
  margin-right: 40%;
  text-align: left;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #383232;
}

.overlay .closebtn {
  position: absolute;
  top: 80%;
  right: 30px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

